<div class="filter-container">
  <!-- Filtro em Dropdown -->
  <div class="filter-dropdowns d-flex justify-content-center align-items-center gap-3 p-3">
    <mat-form-field appearance="fill">
      <mat-label>Espécie</mat-label>
      <mat-select [(ngModel)]="selectedSpecies">
        <mat-option [value]=null>Todas</mat-option>
        <mat-option [value]="specie.DOG">Cachorro</mat-option>
        <mat-option [value]="specie.CAT">Gato</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tamanho</mat-label>
      <mat-select [(ngModel)]="selectedSize">
        <mat-option [value]=null>Todos</mat-option>
        <mat-option [value]="size.SMALL">Pequeno</mat-option>
        <mat-option [value]="size.MEDIUM">Médio</mat-option>
        <mat-option [value]="size.BIG">Grande</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="selectedSex">
        <mat-option [value]=null>Ambos</mat-option>
        <mat-option [value]="sex.MALE">Macho</mat-option>
        <mat-option [value]="sex.FEMALE">Fêmea</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="rounded-pill shadow-sm" (click)="applyFilters()">Aplicar Filtros</button>
  </div>
</div>

<div class="card-container d-flex flex-wrap justify-content-center gap-3 p-3">
  <mat-card *ngFor="let animal of animals" class="example-card flex-column d-flex justify-content-between shadow-sm">
    <img mat-card-image [src]="animal.information.photo" alt="Foto da {{animal.name}}" class="animal-image">
    <mat-card-content class="card-content text-left">
      <div class="pt-3">
        <p class="location text-muted mb-3">
          <strong>{{ animal.organization.name | uppercase}}</strong>
        </p>
       </div>
      <!-- Nome do animal e ícone de sexo -->
      <div class="d-flex justify-content-between align-items-center gap-2 animal-info">
        <h2 class="animal-name text-primary mb-0">{{ animal.name }}</h2>
        <mat-icon class="material-symbols-outlined">{{ animal.sex | lowercase }}</mat-icon>
      </div>
      <div>
        <p>
          {{ animal.information.location }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="adopt-button btn-sm">Quero Adotar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="load-more-container d-flex justify-content-center my-3">
  <button mat-raised-button color="primary">Carregar Mais</button>
</div>
