.adopt-button {
  width: 50%; /* Deixa o botão com 50% da largura do contêiner */
  transition: box-shadow 0.3s ease;
}

.adopt-button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Efeito de hover para o botão */
}

.example-card {
  flex: 1 1 calc(25% - 32px);
  max-width: 300px;
  min-width: 250px;
  max-height: 700px;
  min-height: 500px;
  margin: 16px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
}

.animal-info {
  margin-top: 16px;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .example-card {
    flex: 1 1 calc(33.33% - 32px); /* Em telas menores, 3 cards por linha */
  }
}

@media (max-width: 900px) {
  .example-card {
    flex: 1 1 calc(50% - 32px); /* Em telas menores, 2 cards por linha */
  }
}

@media (max-width: 600px) {
  .example-card {
    flex: 1 1 100%; /* Em telas muito pequenas, 1 card por linha */
  }
}

.card-actions {
  margin-top: auto;
}

.load-more-container {
  display: flex;
  justify-content: center; /* Centraliza o botão */
  margin: 16px 0; /* Adiciona espaçamento ao redor do botão */
}
