<div class="filter-container">
    <!-- Filtro em Dropdown -->
    <div class="filter-dropdowns">
      <mat-form-field appearance="fill">
        <mat-label>Espécie</mat-label>
        <mat-select [(ngModel)]="selectedSpecies">
          <mat-option value="">Todas</mat-option>
          <mat-option value="dog">Cachorro</mat-option>
          <mat-option value="cat">Gato</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Tamanho</mat-label>
        <mat-select [(ngModel)]="selectedSize">
          <mat-option value="">Todos</mat-option>
          <mat-option value="small">Pequeno</mat-option>
          <mat-option value="medium">Médio</mat-option>
          <mat-option value="large">Grande</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="selectedSex">
          <mat-option value="">Ambos</mat-option>
          <mat-option value="male">Macho</mat-option>
          <mat-option value="female">Fêmea</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Aplicar Filtros</button>
    </div>
  </div>

<div class="card-container">
    <mat-card class="example-card improved-card" appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card improved-card" appearance="outlined">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" class="adopt-button">Quero Adotar</button>
        </mat-card-actions>
      </mat-card>
    <!-- Duplicar o card conforme necessário -->
    <!-- Outros cards aqui -->
  </div>

  <div class="load-more-container">
    <button mat-raised-button color="primary">Carregar Mais</button>
  </div>
  