<div class="filter-container">
  <!-- Filtro em Dropdown -->
  <div class="filter-dropdowns d-flex justify-content-center align-items-center gap-3 p-3">
    <mat-form-field appearance="fill">
      <mat-label>Espécie</mat-label>
      <mat-select [(ngModel)]="selectedSpecies">
        <mat-option value="">Todas</mat-option>
        <mat-option value="dog">Cachorro</mat-option>
        <mat-option value="cat">Gato</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tamanho</mat-label>
      <mat-select [(ngModel)]="selectedSize">
        <mat-option value="">Todos</mat-option>
        <mat-option value="small">Pequeno</mat-option>
        <mat-option value="medium">Médio</mat-option>
        <mat-option value="large">Grande</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="selectedSex">
        <mat-option value="">Ambos</mat-option>
        <mat-option value="male">Macho</mat-option>
        <mat-option value="female">Fêmea</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="rounded-pill shadow-sm">Aplicar Filtros</button>
  </div>
</div>

<div class="card-container d-flex flex-wrap justify-content-center gap-3 p-3">
  <mat-card class="example-card flex-column d-flex justify-content-between shadow-sm">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="animal-image">
    <mat-card-content class="card-content text-left">
      <!-- Nome do animal e ícone de sexo -->
      <div class="d-flex justify-content-between align-items-center gap-2 animal-info">
        <h2 class="animal-name text-primary mb-0">Shiba Inu</h2>
        <mat-icon class="material-symbols-outlined">female</mat-icon>
      </div>
      <!-- ONG e Localização -->
      <p class="location text-muted mb-3"><strong>Ong São Domingos</strong>, São Paulo, SP</p>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions d-flex justify-content-center">
      <button mat-raised-button color="primary" class="adopt-button btn-sm">Quero Adotar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="load-more-container d-flex justify-content-center my-3">
  <button mat-raised-button color="primary">Carregar Mais</button>
</div>
